*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232631;
  color: #fff;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#movieContainer {
  text-align: center;
  margin: 20px 0 40px;
}

#movieContainer label, #movieContainer select {
  font-size: 1.2rem;
}

#movieContainer label {
  margin-right: 10px;
}

#movieContainer select {
  padding: 5px;
  border-radius: 5px;
}

#showcaseContainer {
  background-color: #16181f;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showcaseContainer .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcaseContainer .showcase .seat {
  margin-right: 5px;
}

#screenContainer {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#screenContainer .screen {
  -webkit-transform: rotateX(-50deg);
          transform: rotateX(-50deg);
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.71);
          box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.71);
}

#seatsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#seatsContainer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#seatsContainer .row .seat:nth-of-type(2) {
  margin-right: 20px;
}

#seatsContainer .row .seat:nth-last-of-type(2) {
  margin-left: 20px;
}

#restartContainer {
  margin-top: 20px;
  text-align: center;
}

#restartContainer button {
  padding: 10px 15px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #16181f;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#restartContainer button:hover {
  color: #16181f;
  border-color: #16181f;
  background-color: #2b2f3d;
}

#restartContainer button:focus {
  outline: none;
}

#restartContainer button:active {
  background-color: red;
  color: #fff;
  border-color: #fff;
}

.seat {
  background-color: #383b47;
  width: 25px;
  height: 20px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #224ab8;
}

.seat.occupied {
  background-color: #bebbbb;
}

#ticketsContainer {
  text-align: center;
  font-size: 1rem;
}

#ticketsContainer span {
  color: red;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */