*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232631;
    color: #fff;
    font-size: 16px;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#movieContainer {
    text-align: center;
    margin: 20px 0 40px;
    
    label, select {
        font-size: 1.2rem;
    }

    label {
        margin-right: 10px;
    }

    select {
        padding: 5px;
        border-radius: 5px;
    }
}

#showcaseContainer {
    background-color: #16181f;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .showcase {
        display: flex;
        justify-content: center;
        align-items: center;

        .seat {
            margin-right: 5px;
        }
    }
}

#screenContainer {
    perspective: 1000px;

    .screen {
        transform: rotateX(-50deg);
        width: 100%;
        height: 100px;
        background-color: #fff;
        margin-bottom: 50px;
        box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.71);
    }
}

#seatsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .seat:nth-of-type(2) {
            margin-right: 20px;
        }

        .seat:nth-last-of-type(2) {
            margin-left: 20px;
        }
    }
}

#restartContainer {
    margin-top: 20px;
    text-align: center;

    button {
        padding: 10px 15px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 100;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: #16181f;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s ease;

        &:hover {
            color: #16181f;
            border-color: #16181f;
            background-color: lighten($color: #16181f, $amount: 10);
        }
        &:focus {
            outline: none;
        }
        &:active {
            background-color: red;
            color: #fff;
            border-color: #fff;            
        }

    }
}

.seat {
    background-color: #383b47;
    width: 25px;
    height: 20px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #224ab8;
}

.seat.occupied {
    background-color: #bebbbb;
}

.row .seat:not([class="seat occupied"]) {
    &:hover {
        cursor: pointer;
        // background-color: darken($color: #383b47, $amount: 5%);
        transform: scale(1.15);
    }
}

#ticketsContainer {
    text-align: center;
    font-size: 1rem;

    span {
        color: red;
        font-size: 1.2rem;
    }
}